@model ePolitis.Models.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h1 style="text-align:center">Εγγραφή Χρήστη</h1>
    <div class="form-horizontal">
        

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type="password" } })
                @*@Html.TextBoxFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })*@
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.IsUnemployed, "Είστε άνεργος/η;", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.IsUnemployed, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.CheckBoxFor(model => model.IsUnemployed, new { htmlAttributes = new { @class = "form-control" } })*@
                <label class="col-md-4 col-md-offset-2">@Html.RadioButtonFor(model => model.IsUnemployed, true) <p>Ναι</p></label>
                <label class="col-md-4">@Html.RadioButtonFor(model => model.IsUnemployed, false) <p>Όχι</p></label>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="display:inline">
                <input type="submit" value="Εγγραφή" class="btn btn-primary" />
                <input type="reset" value="Clear" class="btn btn-default" />
            </div>
        </div>


        @if (ViewBag.EmailExists == true)
        {
            <p>Email already exists!</p>
        }

    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $("input").attr("required", "true");
</script>

