<div class="dropdown">
    <button class="dropbtn">Υπηρεσίες ΟΑΕΔ</button>
    <div class="dropdown-content">
        <a href="@Url.Action("OAEDEggrafiMitrwo","Employee")">Εγγραφή στο Μητρώο</a>
        <a href="@Url.Action("OAEDEpidomaAnergias","Employee")">Δικαιολογητικά για επίδομα</a>
        <a href="@Url.Action("OAEDUploadpage","Employee")">Upload Δικαιολογητικού</a>

    </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Υπηρεσίες ΙΚΑ</button>
    <div class="dropdown-content">
        <a href="@Url.Action("IKAEkdosiAMA","Employee")">Δικαιολογητικά ΑΜΑ</a>
        <a href="@Url.Action("IKAEkdosiVivliariouYgeias","Employee")">Έκδοση Βιβλιαρίου</a>
    </div>
</div>
<div class="dropdown" style="float:right;">
    <button class="dropbtn">Λογαριασμός</button>
    <div class="dropdown-content">
        <a href="@Url.Action("Index","Employee")">Προσωπικά στοιχεία</a>
        <a href="@Url.Action("PersonalInfoUpdate", "Employee")">Επεξεργασία προσωπικών στοιχείων</a>
        <a href="@Url.Action("SignOut","Home")">Έξοδος</a>
    </div>
</div>

