@* Na diorthothous oi headers *@

<div class="dropdown">
    <button class="dropbtn">Υπηρεσίες ΟΑΕΔ</button>
    <div class="dropdown-content">
        <a href="@Url.Action("OAEDBenefitFeatures","Unemployed")">Προνόμια ανέργων</a>
        <a href="@Url.Action("OAEDEpidomaAnergias","Unemployed")">Εγγραφή στο Μητρώο</a>
        <a href="@Url.Action("OAEDEpidomaAnergias","Unemployed")">Δικαιολογητικά για επίδομα</a>
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Υπηρεσίες ΙΚΑ</button>
    <div class="dropdown-content">
        <a href="@Url.Action("IKAEkdosiAMA","Unemployed")">Δικαιολογητικά ΑΜΑ</a>
        <a href="@Url.Action("IKAEkdosiVivliariouYgeias","Unemployed")">Έκδοση Βιβλιαρίου</a>
    </div>
</div>
<div class="dropdown" style="float:right;">
    <button class="dropbtn">Λογαριασμός</button>
    <div class="dropdown-content">
        <a href="@Url.Action("Index","Unemployed")">Προσωπικά στοιχεία</a>
        <a href="@Url.Action("PersonalInfoUpdate","Unemployed")">Επεξεργασία προσωπικών στοιχείων</a>
        <a href="@Url.Action("SignOut","Home")">Έξοδος</a>
    </div>
</div>

