@model ePolitis.Models.UnemploymentRequestList
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_CivilServantHeader");

<h1>Προβολή Αιτήσεων</h1>

<form>

    <table style="width:100%">
        <tr>
            <th>Id</th>
            <th>Επώνυμο</th>
            <th>Όνομα</th>
            <th>Δικαιολογητικό</th>
            <th>Έγκριση</th>
        </tr>
        @foreach (var req in Model.RequestList)
        {
            <tr>
                <td>@req.RequestId</td>
                <td>@req.Employee.LastName</td>
                <td>@req.Employee.FirstName</td>
                <td>@req.Employee.FileApplicationPath</td>
                <td>@Html.EditorFor(model => req.Approved, new { htmlAttributes = new { @class = "form-control" } })</td>

            </tr>
        }
    </table>
    <br />
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</form>



